
            #slideshow {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width:100%;
  height:100%;
  display: inline-block;
}
.elemnt,.elemnt1 {
position: absolute;
left: 0;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
display: inline-block;
text-align: center;
}

.elemnt {
  animation: xfade 16s 8s infinite;
  background-image: url('Dashboard/images/mmimage1.jpg');
}
.elemnt1 {
  animation: xfade 16s 6s infinite;
  background-image: url('Dashboard/images/mmimage2.jpg');
  
}
 .page-container {

    background-color: #f2f2f2;
    padding: 30px 0;

}
.page-title-left {

    margin-bottom: 30px;

}
.page-title-left h2 {

    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 10px;

}
.container-contentbar {

    width: 70%;

}
.article-detail {

    background-color: #fff;
    padding: 40px;

}
.article-detail p {

    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px;
    text-align: inherit;
    text-transform: inherit;

}
.container-sidebar {

    width: 30%;

}
.widget.widget-categories {

    border-bottom: 0;
    padding-bottom: 0;

}
.widget-top {

    margin-bottom: 17px;

}
.widget-title {

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 20px;
    text-align: inherit;
    text-transform: inherit;

}
.widget-body {

    font-size: 13.5px;

}
ul.widget-list {

    margin: 0;
    padding: 0;

}
ul.widget-list li {

    list-style: none;
    position: relative;
    margin-bottom: 8px;

}
.widget-body {

    font-size: 13.5px;

}
ul.widget-list li a {

    display: block;
    color: #00aeef;
    font-weight: 600;
    padding-left: 10px;

}
a[href], button {

    touch-action: manipulation;

}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade1{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade2{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade3{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
input {
    line-height: 27px;width: 88%;padding-left: 9px;border: 1px solid #ccc;
}
select {
    line-height: 23px;width: 88%;padding-left: 9px;border: 1px solid #ccc;padding: 2px;

padding-bottom: 3px;
}
 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    font-size: 13.5px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
a{
    outline: 0;
}
.tab-quick-search {
    width: 960px;
    margin: 0 auto;
}
.tab-quick-search .form-control {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 38px;
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e1e1e1;
}
.arrow-cusbm {
    position: absolute;
    z-index: 100;
    font-size: 14px;
    top: 36px;
    right: 12px;
    color: #000;
}
.tab-quick-search #btn-quich-search {
    display: block;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}    
 .kvline-1 {
    background: #dbdbdb;
    display: block;
    height: 1px;
    left: 41%;
    margin-top: 15px;
    position: relative;
    width: 200px;
}
.kvline-2 {
    background: #dbdbdb;
    display: block;
    height: 1px;
    left: 43%;
    margin-top: 5px;
    position: relative;
    width: 150px;
}
.kvline-3 {
    background: #dbdbdb;
    display: block;
    height: 1px;
    left: 45%;
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
    width: 100px;
}
.reg:hover img {
    transform: rotate(360deg);
    transition: all 0.2s ease 0s;
}
.memberinner {
    margin-top: 40px;
    transition: all 0.2s ease 0s;
}
 .backgroundbanersection
 {
     background: url(Dashboard/images/mmbg1.jpg) no-repeat center center;
     height:460px
 }
 .sp.mt-icon4 {
    background-position: -7px -565px;
    width: 54px;
    height: 54px;
}
.sp.mt-icon5 {
    background-position: -76px -565px;
    width: 54px;
    height: 54px;
}
.sp.mt-icon3 {
    background-position: -200px -420px;
    width: 54px;
    height: 54px;
}
.sp {
    background: url(Dashboard/images/bt-spirte-icons.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}   
  .square-logo {
    width: 78px;
    height: 78px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 15px;
}   
.intro-details {
    padding: 50px 30px 41px 120px;
}
.subtitle {
    color: #b9b9b9;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}
.h1-title {
    color: #c50a0a;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 20px;
    position: relative;
}
.h1-title-icon {
    position: absolute;
    left: -55px;
    top: 5px;
    width: 44px;
    height: 44px;
}
.sp.icon-intrust {
    background-position: -137px -367px;
    width: 40px;
    height: 42px;
}
.text {
    font-size: 13.5px;
    line-height: 24px;
}
.section-downloadapp {
    background-color: #f5f5f5;
    padding: 40px 0 0;
    border-bottom: 1px solid #e6e6e6;
}
.mobile-app-content h2 {
    margin: 0;
    padding: 0;
        padding-bottom: 0px;
    line-height: 40px;
    font-size: 38px;
    color: #e3425b;
    font-weight: 800;
    padding-bottom: 20px;
}
.mobile-app-content h4 {
    margin: 0;
    padding: 0;
        padding-bottom: 0px;
    line-height: normal;
    font-size: 20px;
    color: #c50a0a;
    font-weight: 600;
    padding-bottom: 25px;
    position: relative;
}
.mobile-app-content p {
    margin: 0;
        margin-top: 0px;
    padding: 0;
    margin-top: 25px;
}
.banner-ads {
    background-color: #f5f5f5;
    padding: 40px 0;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.footer-white .ft-wrapper-top {
    background: linear-gradient(to right, rgba(15,182,82,1) 0%, rgba(10,206,163,1) 100%);
}
.ft-wrapper-top {
    background-color: #e5bd39;
    padding-top: 25px;
    padding-bottom: 5px;
}
.container::before{
    display: table;
    content: " ";
}
.footer-white .ft-nav2 h4 {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 12px;
}
.footer-about {
    font-size: 13px;
    color: #fff;
    line-height: normal;
    padding-right: 20px;
    text-align: justify;
}
.footer-white .ft-logo {
    width: 60px;
    float: left;
    margin-right: 15px;
}
.ft-logo img {
    text-align: center;
}
p {
    word-wrap: break-word;
}
.ft-nav {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
.footer-white .ft-nav h4 {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 12px;
}.ft-nav h4 {
    text-transform: uppercase;
}
.ft-nav ul {
    margin: 0;
    padding: 0;
}
.ft-nav li {
    list-style: none;
    display: block;
    padding-bottom: 4px;
}
.footer-white .ft-nav li a {
    color: #fff;
}
.ft-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.ft-nav li a:hover{
  text-decoration: underline;   
}
.footer-white .ft-wrapper-bottom {
    background: linear-gradient(to right, rgba(15,182,82,1) 0%, rgba(10,206,163,1) 100%);
    border-top: 1px solid #fff;
}
.ft-wrapper-bottom {
    background-color: #d8af27;
    padding-top: 15px;
    padding-bottom: 5px;
}
.ft-contact-phone-email h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff;
}
.ft-contact-phone-email p a {
    font-size: 13px;
    color: #fff;
    font-weight: normal;
}
.footer-white .ft-social-icons {
    text-align: right;
}
.ft-social-icons li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
}
.footer-white .ft-social-icons li a.sm-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}
.footer-white .ft-social-icons li a {
    text-align: center;
}
.ft-social-icons li a {
    text-decoration: none;
    display: block;
    border: 2px solid #fff;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
    width: 42px;
    height: 42px;
    background-color: transparent;
    border-radius: 50%;
}
.footer-white .ft-social-icons li a.sm-twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
}
.footer-white .ft-social-icons li a.sm-googleplus {
    background-color: #dc4a38;
    border-color: #dc4a38;
}
.footer-white .ft-social-icons li a.sm-linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}
.footer-white .ft-wrapper-bottom {
    background: linear-gradient(to right, rgba(15,182,82,1) 0%, rgba(10,206,163,1) 100%);
    border-top: 1px solid #fff;
}
.ft-wrapper-bottom {
    background-color: #d8af27;
    padding-top: 15px;
    padding-bottom: 5px;
}
.footer-white .ft-copyright {
    color: #fff;
    font-size: 13px;
    text-align: left;
    padding-top: 6px;
}
.ft-verify img {
    max-width: 65px;
    display: inline-block;
}
.memberinner img:hover {
  transition: 0.2s;
  transform: rotate(360deg);
} 
.happy-story-album:hover .happy-album-info {
    transform: translateY(-230px);
}
.happy-album-info {
    background-color: rgba(242, 242, 242, 0.9);
    height: 100%;
    position: absolute;
    transform: translateY(0%);
    transition: all 300ms ease 0s;
    width: 100%;
    padding: 30px;
}
.sp:hover{
    transition: 0.2s;
  transform: rotate(360deg);
}  
.errorstring{
    color:red;
}
   #Regbutton:hover{
       background: #027AF3;
   }
       .navbar.dashboard-menu{
            background: linear-gradient(to right, rgba(191,50,128,1) 0%, rgba(227,66,90,1) 100%);
        }
        .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
 input {line-height: 27px;width: 88%;padding-left: 9px;border: 1px solid #ccc;}
        
        .navbar.dashboard-menu{
            background: linear-gradient(to right, rgba(191,50,128,1) 0%, rgba(227,66,90,1) 100%);
        }
        .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-header {
    float: left;
}
.navbar-toggle {
position: relative;
padding: 9px 10px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 4px;
display: none;
float: left;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar.dashboard-menu .nav > li > a:hover, .navbar.dashboard-menu .nav > li > a:focus {

    background: none;

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-collapse {

    width: auto;
    border-top: 0;
        border-top-color: currentcolor;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;

}
.navbar-nav {

    float: left;
    margin: 0;

}
.nav > li {

    position: relative;
    display: block;

}
.navbar-nav > li > a {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-weight: 501;
    font-size: 15px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 20px;
}
.navbar-nav > li > a:hover{
    color:black;
}
.up-btn-upgrade:hover {

    background-color: #fcaf45 !important;
    border-color: #fcaf45;

}
.up-btn-upgrade {

    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 4px 14px !important;
    position: relative;
    top: 6px;
    margin-right: 14px;
    margin-top: 2px !important;
    margin-bottom: 12px !important;

}
.navbar-right {

    float: right !important;
    margin-right: -15px;

}
.navbar-inverse .navbar-nav > li > a {

    color: #fff;

}
/* page container */
 .page-container {

    background-color: #f2f2f2;
    padding: 30px 0;

}
.page-title-left {

    margin-bottom: 30px;

}
.page-title-left h2 {

    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 10px;

}
.container-contentbar {

    width: 70%;

}
.article-detail {

    background-color: #fff;
    padding: 40px;

}
.article-detail p {

    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px;
    text-align: inherit;
    text-transform: inherit;

}
.container-sidebar {

    width: 30%;

}
.widget.widget-categories {

    border-bottom: 0;
    padding-bottom: 0;

}
.widget-top {

    margin-bottom: 17px;

}
.widget-title {

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 20px;
    text-align: inherit;
    text-transform: inherit;

}
.widget-body {

    font-size: 13.5px;

}
ul.widget-list {

    margin: 0;
    padding: 0;

}
ul.widget-list li {

    list-style: none;
    position: relative;
    margin-bottom: 8px;

}
.widget-body {

    font-size: 13.5px;

}
ul.widget-list li a {

    display: block;
    color: #00aeef;
    font-weight: 600;
    padding-left: 10px;

}
a[href], button {

    touch-action: manipulation;

}

select:focus{
    border: 1px solid #00A465 !important;
box-shadow: 0 0 3px #00A465 !important;
-moz-box-shadow: 0 0 3px #00A465 !important;
-webkit-box-shadow: 0 0 3px #00A465 !important;
}
#Regbutton{
    background: #3399FF;border: none;
}
#Regbutton:hover {
    color: #fff;
    background-color:#3693F1;
    border-color:#3693F1;
}
input:focus {
border: 1px solid #00A465 !important;
box-shadow: 0 0 3px #00A465 !important;
-moz-box-shadow: 0 0 3px #00A465 !important;
-webkit-box-shadow: 0 0 3px #00A465 !important;
}