
RewriteRule ^Masters/(.*)/Manage/Edit/(.*)\.html$ ./index.php?Fname=Edit&Module=$1&Code=$2&p=Masters/$1/Edit
RewriteRule ^Masters/(.*)/Manage/View/(.*)\.html$ ./index.php?Fname=Edit&Module=$1&Code=$2&p=Masters/$1/View
RewriteRule ^Requests/Member/ViewPaypalRequests/(.*)\.htm$ ./index.php?Code=$1&p=Requests/Member/ViewPaypalRequests
RewriteRule ^Profiles/ViewDraftProfile/(.*)\.htm$ ./index.php?Code=$1&p=Profiles/ViewDraftProfile
RewriteRule ^Profiles/ViewRequestProfile/(.*)\.htm$ ./index.php?Code=$1&p=Profiles/ViewRequestProfile           
RewriteRule ^Profiles/ViewPublishProfile/(.*)\.htm$ ./index.php?Code=$1&p=Profiles/ViewPublishProfile
RewriteRule ^ViewMemberProfile/(.*)\.htm$ ./index.php?Code=$1&p=ViewMemberProfile

RewriteRule ^ViewProfile/(.*)\.htm$ ./index.php?Code=$1&p=ViewProfile [QSA]
RewriteRule ^ListOfProfile/(.*)\.htm$ ./index.php?Code=$1&p=ListOfProfile [QSA]

RewriteRule ^view/(.*)\.htm$ ./index.php?Code=$1&p=view

RewriteRule ^Members/Created/(.*)\.htm$ ./index.php?Code=$1&p=Members/Created
RewriteRule ^CreateProfile/(.*)\.htm$ ./index.php?Code=$1&p=CreateProfile
RewriteRule ^ViewMemberProfile/(.*)\.htm$ ./index.php?Code=$1&p=ViewMemberProfile           
RewriteRule ^ViewDraftProfile/(.*)\.htm$ ./index.php?Code=$1&p=ViewDraftProfile           
RewriteRule ^ViewPostedProfile/(.*)\.htm$ ./index.php?Code=$1&p=ViewPostedProfile           
RewriteRule ^ViewPublishedProfile/(.*)\.htm$ ./index.php?Code=$1&p=ViewPublishedProfile           
RewriteRule ^ViewProfileforaddLandingPage/(.*)\.htm$ ./index.php?Code=$1&p=ViewProfileforaddLandingPage


RewriteRule ^Matches/Search/ViewPlans/(.*)\.htm$ ./index.php?Code=$1&p=Matches/Search/ViewPlans

RewriteRule ^Members/KYC/ViewKyc/(.*)\.htm$ ./index.php?Code=$1&p=Members/KYC/ViewKyc

RewriteRule ^MemberProfileEdit/GeneralInformation/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/GeneralInformation
RewriteRule ^MemberProfileEdit/EducationDetails/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/EducationDetails
RewriteRule ^MemberProfileEdit/AddEducationalDetails/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/AddEducationalDetails
RewriteRule ^MemberProfileEdit/OccupationDetails/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/OccupationDetails 
RewriteRule ^MemberProfileEdit/FamilyInformation/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/FamilyInformation
RewriteRule ^MemberProfileEdit/PhysicalInformation/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/PhysicalInformation
RewriteRule ^MemberProfileEdit/DocumentAttachment/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/DocumentAttachment
RewriteRule ^MemberProfileEdit/CommunicationDetails/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/CommunicationDetails
RewriteRule ^MemberProfileEdit/PartnersExpectation/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/PartnersExpectation
RewriteRule ^MemberProfileEdit/HoroscopeDetails/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/HoroscopeDetails
RewriteRule ^MemberProfileEdit/ProfilePhoto/(.*)\.htm$ ./index.php?Code=$1&p=MemberProfileEdit/ProfilePhoto

RewriteRule ^MyProfiles/Draft/Edit/GeneralInformation/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/GeneralInformation
RewriteRule ^MyProfiles/Draft/Edit/EducationDetails/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/EducationDetails
RewriteRule ^MyProfiles/Draft/Edit/AddEducationalDetails/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/AddEducationalDetails
RewriteRule ^MyProfiles/Draft/Edit/OccupationDetails/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/OccupationDetails
RewriteRule ^MyProfiles/Draft/Edit/FamilyInformation/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/FamilyInformation
RewriteRule ^MyProfiles/Draft/Edit/PhysicalInformation/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/PhysicalInformation
RewriteRule ^MyProfiles/Draft/Edit/DocumentAttachment/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/DocumentAttachment
RewriteRule ^MyProfiles/Draft/Edit/CommunicationDetails/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/CommunicationDetails
RewriteRule ^MyProfiles/Draft/Edit/PartnersExpectation/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/PartnersExpectation
RewriteRule ^MyProfiles/Draft/Edit/HoroscopeDetails/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/HoroscopeDetails
RewriteRule ^MyProfiles/Draft/Edit/ProfilePhoto/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/Edit/ProfilePhoto

RewriteRule ^MyProfiles/Draft/View/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Draft/View
RewriteRule ^MyProfiles/Posted/View/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Posted/View
RewriteRule ^MyProfiles/Published/View/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/Published/View
RewriteRule ^MyAccounts/ViewBankRequest/(.*)\.htm$ ./index.php?Code=$1&p=MyAccounts/ViewBankRequest
RewriteRule ^MyAccounts/ViewPaypalRequest/(.*)\.htm$ ./index.php?Code=$1&p=MyAccounts/ViewPaypalRequest
RewriteRule ^MyProfiles/View/(.*)\.htm$ ./index.php?Code=$1&p=MyProfiles/View
RewriteRule ^Members/ViewMember/(.*)\.htm$ ./index.php?Code=$1&p=Members/ViewMember
RewriteRule ^Members/EditMember/(.*)\.htm$ ./index.php?Code=$1&p=Members/EditMember
RewriteRule ^Members/ResetPassword/(.*)\.htm$ ./index.php?Code=$1&p=Members/ResetPassword
RewriteRule ^Members/BlockMember/(.*)\.htm$ ./index.php?Code=$1&p=Members/BlockMember
RewriteRule ^Members/News/ViewNews/(.*)\.htm$ ./index.php?Code=$1&p=Members/News/ViewNews
RewriteRule ^Members/News/EditNews/(.*)\.htm$ ./index.php?Code=$1&p=Members/News/EditNews
RewriteRule ^Franchisees/News/View/(.*)\.htm$ ./index.php?Code=$1&p=Franchisees/News/View
RewriteRule ^Franchisees/News/Edit/(.*)\.htm$ ./index.php?Code=$1&p=Franchisees/News/Edit
RewriteRule ^Members/ViewFranchiseeInfo/(.*)\.htm$ ./index.php?Code=$1&p=Members/ViewFranchiseeInfo
RewriteRule ^Settings/Email/Edit/(.*)\.htm$ ./index.php?Code=$1&p=Settings/Email/Edit
RewriteRule ^Settings/Email/View/(.*)\.htm$ ./index.php?Code=$1&p=Settings/Email/View
RewriteRule ^Settings/MobileSMS/Edit/(.*)\.htm$ ./index.php?Code=$1&p=Settings/MobileSMS/Edit
RewriteRule ^Settings/MobileSMS/View/(.*)\.htm$ ./index.php?Code=$1&p=Settings/MobileSMS/View
RewriteRule ^Settings/Bank/Edit/(.*)\.htm$ ./index.php?Code=$1&p=Settings/Bank/Edit
RewriteRule ^Settings/Bank/View/(.*)\.htm$ ./index.php?Code=$1&p=Settings/Bank/View
RewriteRule ^Settings/PayPal/Edit/(.*)\.htm$ ./index.php?Code=$1&p=Settings/PayPal/Edit
RewriteRule ^Settings/PayPal/View/(.*)\.htm$ ./index.php?Code=$1&p=Settings/PayPal/View
RewriteRule ^Franchisees/ResetPassword/Reset/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/ResetPassword/Reset

RewriteRule ^Members/Plan/EditPlan/(.*)\.htm$ ./index.php?Code=$1&p=Members/Plan/EditPlan
RewriteRule ^Members/Plan/View/(.*)\.htm$ ./index.php?Code=$1&p=Members/Plan/View

RewriteRule ^Franchisees/Edit/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/Edit
RewriteRule ^Franchisees/View/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/View
RewriteRule ^Franchisees/Report/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/Report
RewriteRule ^Franchisees/ResetPassword/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/ResetPassword
RewriteRule ^Franchisees/BlockFranchisee/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/BlockFranchisee
RewriteRule ^Members/ResetPassword/Reset/(.*)\.html$ ./index.php?Code=$1&p=Members/ResetPassword/Reset

RewriteRule ^Members/EditMember/(.*)\.html$ ./index.php?Code=$1&p=Members/EditMember
RewriteRule ^Members/ViewMember/(.*)\.html$ ./index.php?Code=$1&p=Members/ViewMember
RewriteRule ^Members/BlockMember/(.*)\.html$ ./index.php?Code=$1&p=Members/BlockMember
RewriteRule ^Members/ResetPassword/(.*)\.html$ ./index.php?Code=$1&p=Members/ResetPassword

RewriteRule ^Members/Wallet/RefillWallet/(.*)\.html$ ./index.php?Code=$1&p=Members/Wallet/RefillWallet
RewriteRule ^Staffs/Edit/(.*)\.html$ ./index.php?Code=$1&p=Staffs/Edit
RewriteRule ^Staffs/View/(.*)\.html$ ./index.php?Code=$1&p=Staffs/View

RewriteRule ^Franchisees/Plan/Edit/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/Plan/Edit
RewriteRule ^Franchisees/Plan/View/(.*)\.html$ ./index.php?Code=$1&p=Franchisees/Plan/View

RewriteRule ^Member/View/(.*)\.html$ ./index.php?Code=$1&p=Member/View
RewriteRule ^Member/Edit/(.*)\.html$ ./index.php?Code=$1&p=Member/View

RewriteRule ^MySettings/EditMemberInfo/(.*)\.html$ ./index.php?Code=$1&p=MySettings/EditMemberInfo
RewriteRule ^MySettings/EditFranchiseeInfo/(.*)\.html$ ./index.php?Code=$1&p=MySettings/EditFranchiseeInfo




RewriteRule ^([a-zA-Z0-9-/+]+)([0-9]+)$ index.php?p=$1&pn=$2 [L]
RewriteRule ^([a-zA-Z0-9-/+]+)$ index.php?p=$1 [L]
RewriteRule ^([a-zA-Z0-9-/+]+)([a-zA-Z/]+)([0-9]+)$ index.php?p=/$1&t=$2&pn=$3/ [L]
RewriteRule ^([a-zA-Z0-9-/+]+)([a-zA-Z/]+)([0-9]+)$ index.php?p=/$1&q=$2&pn=$3/ [L]


 